@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Rowdies', cursive;
}
header{
    height: 
    60vh;
    background-image:url(../Documentation/laptop-gf3a2a5532_1920.jpg);
    background-position: center;
    color: #fefefe;
    text-align: center;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
header nav a{
    color: #fefefe;
    text-decoration: none;
    margin-right: 10px;
}
header nav a:hover{
    color: #bababa;
    border-bottom: 1px solid #bababa;
}
header nav li{
    display: inline-block;
}
header nav img{
    height: 50px;
}
header .second{
    margin-top: 100px;
}
header .second h4{
    margin-top: 10px;
    padding: 20px;
}
.presentation2{
    background-color: cadetblue;
    color: #fefefe;
    padding: 30px;
    display: flex;
    justify-content: center;
    
}
.presentation2 .gauche{
    width: 60%;
    margin-right: 100px;
}
.presentation3{
    background-color: cadetblue;
    color: #fefefe;
    padding: 30px;
    display: flex;
}
.presentation3 .droite{
    width: 60%;
    margin-left: 100px;
    justify-content: space-around;
    
}
footer{
    background-color: teal;
    padding: 30px;
    color: #fefefe;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width:810px){
    .presentation2 .gauche{
        width: 100%;
    }
    .presentation2 .droite{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (max-width:810px){
    .presentation3 .gauche{
        width: 100%;
    }
    .presentation3 .droite{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
